.flickr-item {
	display: inline-block;
	width: 175px;
}

.flickr-item .x-list-item-label {
	border-top: none !important;
	width: 175px;
	text-align: center;
}

.flickr-item .title {
	padding-top: 20px;
	font-size: 13px;
}

.flickr-item .title span {
	text-shadow: 0 1px 0 black;
	color: #AAAAAA;
	font-family: 'Quattrocento Sans', sans-serif;
	text-overflow: ellipis;
	overflow: hidden;
}
